# Node.js
/node_modules
/build
/dist
/.npm

# Neovim
*.swp
*.swo
*.backup
*.un~
*.undo
*.log
*.tmp
/tags
/tags-*
/nvim.log


# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# Coverage data
/coverage

# Dependency directories (if applicable)
/jspm_packages
/bower_components

# System files
.DS_Store
Thumbs.db

# Optional: if you use a package-lock.json, consider ignoring it in some cases,
# but usually it's best to commit it.
# package-lock.json

# Optional: If you use yarn, consider ignoring yarn.lock in some cases,
# but usually it's best to commit it.
# yarn.lock
